<%- include("Layout/header"); -%>

<main>
<!-- <h1 style="text-align: center; margin: 20rem 0;">Home page</h1> -->
<div style="display: flex; align-items: center; justify-content: center;">
    <img  src="/question.jpg" alt="question image">
</div>
</main>

<%- include("Layout/footer"); -%>
