<footer >
    <div style="display: flex; flex-direction: column; justify-content: space-around; min-height: 200px; background: #000; color: gray; padding: 2.5rem 0;">
       <div style="display: flex; justify-content: center; width: 100%;">
        <div style=" font-size: 2rem; width: 10rem; display: flex; justify-content: space-between; ">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-twitter"></i>
            </div>
       </div>
        
        <div style="display: flex; justify-content: center; width: 100%;  ">
        <ul style=" list-style: none; width:40rem; display: flex; justify-content: space-between;">
        <li><a href="/" style="color: gray; text-decoration: none; cursor: pointer;">Home</a></li>
        <li><a href="/user-list" style="color: gray; text-decoration: none; cursor: pointer;">User List</a></li>
        <li><a href="/profile" style="color: gray; text-decoration: none; cursor: pointer;">Profile</a></li>
        <li><a href="#" style="color: gray; text-decoration: none; cursor: pointer;">Privacy Policy</a></li>
        <li><a href="#" style="color: gray; text-decoration: none; cursor: pointer;">Contact us</a></li>

        </ul>
        </div>
        
        <div style="display: flex; justify-content: center;">
         Copyright © 2023 Joy Assignment - All rights reserved || Designed By: MMR creation Ltd. 
        </div>
        </div>
</footer>
</body>
</html>

